[submodule "vendor/github.com/docker/engine-api"]
	path = vendor/github.com/docker/engine-api
	url = https://github.com/docker/engine-api
[submodule "vendor/github.com/docker/distribution"]
	path = vendor/github.com/docker/distribution
	url = https://github.com/docker/distribution
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/github.com/docker/go-units"]
	path = vendor/github.com/docker/go-units
	url = https://github.com/docker/go-units
